@model IEnumerable<E_commerce_Project.Models.Product>
@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Category</h2>

@foreach (var product in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">@product.Name</div>
        <div class="panel-body">
            <div class="col-lg-9">
                <span><strong>@((product.Price ?? 0).ToString("c"))</strong></span>
                <hr />
                <strong>Review</strong>
                <p>@product.Review</p>
            </div>
            <div class="col-lg-3 padding-category">
                @if (@product.Image.Any())
                {
                    <img class="img-responsive pull-right" src="@product.Image" alt="@product.Name" />
                }
            </div>
            <div class="col-lg-12 pull-left">
                @Html.ActionLink("View Product", "Index", "Product", new { id = product.ID }, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
}

