@model E_commerce_Project.Models.Purchase
@{
    ViewBag.Title = "Index";
    decimal totalCost = 0m;
    if (Model != null) {
        foreach (var Product in Model.Purchase_Product)
        {
            totalCost += (Product.Product.Price ?? 0) * 1;
        }
    }
}

<h2>Cart</h2>

@if (Model == null)
{
    <div class="alert-warning">
        <p>Your Car is currently empty</p>
        @Html.ActionLink("Go Shopping", "Index", "Category", null, new { @class = "btn" })
    </div>
}
else
{
    using (Html.BeginForm())
    {
        @Html.HiddenFor(x => x.ID)
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Unit Price</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Purchase_Product.Count(); i++)
                {
                    <tr>
                        <td></td>
                        <td>@Model.Purchase_Product.ElementAt(i).Product.Name</td>
                        <td>@Model.Purchase_Product.ElementAt(i).Product.Review</td>
                        <td>@((Model.Purchase_Product.ElementAt(i).Product.Price ?? 0).ToString("c"))</td>
                        <td>
                            <input class="form-control" name="Purchase_Product[@i].Quantity" type="number" value="@Model.Purchase_Product.ElementAt(i).Quantity" />
                            <input type="hidden" name="Purchase_Product[@i].ProductID" value="@Model.Purchase_Product.ElementAt(i).ProductID" />
                        </td>
                        <td>@(((Model.Purchase_Product.ElementAt(i).Product.Price ?? 0) * (Model.Purchase_Product.ElementAt(i).Quantity ?? 0)).ToString("c"))</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Total</td>
                    <td>@Model.Purchase_Product.Sum(x => (x.Product.Price ?? 0) * x.Quantity ?? 0).ToString("c")</td>
                </tr>
            </tfoot>
        </table>

        //Got Shopping Button
        <div>
            <div class="pull-left">
                <input type="submit" value="Update Cart" class="btn btn-default" />
            </div>
            <div class="pull-left">
                @Html.ActionLink("Go Shopping", "Index", "Category", null, new { @class = "btn" })
            </div>
        </div>
        //Checkout button
        <div class="pull-right">
            @Html.ActionLink("Checkout", "Index", "Checkout", null, new { @class = "btn my-btn" })
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />





    }
}

