<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raspberry Pi - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!--Custom navbar-->
    <div class="container">
        <div class="nav-padding">
            <div id="nav-div-left">
                <ul>
                    <!--Brand Button linking back to homepage-->
                    <li ><a href='/'><img src="~/Content/imageFolder/HomeICON.png" /></a></li>
                    <!--Catagories dropdown button-->
                    <li>
                        <div class="dropdown">
                            <button class="my-btn dropdown-toggle" type="button" data-toggle="dropdown">
                                Catagories
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Build a Bundle //WORK IN PROGRESS</a></li>
                                <li><a href="#">Bundles //WORK IN PROGRESS</a></li>
                                <li>@Html.ActionLink("Raspberry Pi's", "Index", "Category", new { id = "Pi's" }, null)</li>
                                <li>@Html.ActionLink("Chargers", "Index", "Category", new { id = "Chargers" }, null)</li>
                                <li>@Html.ActionLink("SD Cards", "Index", "Category", new { id = "SD Cards" }, null)</li>
                                <li>@Html.ActionLink("Wireless", "Index", "Category", new { id = "Wireless" }, null)</li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.Partial("_Cart")</li>
                    <li>
                        <!--Accounts dropdown button-->
                        <div class="dropdown">
                            <button class="my-btn dropdown-toggle" type="button" data-toggle="dropdown">
                                Accounts
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                @Html.Partial("_LoginPartial")
                            </ul>
                        </div>
                    </li>
                </ul>       
            </div>
            <div class="clearfix"></div>
        </div>

        <!--Render rest of body outside of navbar-->
        <div class="body-content">
            @RenderBody()
            <hr />
            <!--Keeps track of year displays website name-->
            <footer>
                <p class="text-center">&copy; @DateTime.Now.Year - Raspberry Pi</p>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
